<%- include("header.ejs") -%>
<div class="container">
    <h1>Welcome to the secrets app</h1>
    <p>Share Your Dark Secrets Anonymously</p>
    <a href="/login"><button class="btn btn-primary btn-lg">Login</button></a>
    <a href="/register"><button class="btn btn-primary btn-lg">Register</button></a>
</div>
<%- include("footer.ejs") -%>