<%- include("header.ejs") -%>
<div class="container">
    <a href="/users/login"><button class="btn btn-primary btn-lg">Login</button></a>
    <a href="/users/register"><button class="btn btn-primary btn-lg">Register</button></a>
    <div class="secrets"> loading...</div>
</div>
<%- include("footer.ejs") -%>