<%- include("header.ejs") -%>

<div class="container">
  <h3>Login</h3>
  <% if(error) {%>
  <li><%=error%></li>
  <% } %>
  <form action="/users/login" method="POST" class="input-container">
    <input
      type="email"
      name="email"
      placeholder="Enter username or email"
    /><br /><br />
    <input type="password" name="password" placeholder="Password" /><br /><br />
    <button class="btn btn-primary btn-lg" type="submit">Login</button>
  </form>
</div>
<%- include("footer.ejs") -%>
