<%- include("header.ejs") -%>

    <div class="container-new-secret">
        <h3>New Secret</h3>
        <form action="/newsecret" method="POST" class="input-container"><br>
            <input type="text" name="author" placeholder="Some Nickname" required><br>
            <textarea rows="10" type="text" name="secret" placeholder="Your secret" required></textarea><br>
            <button type="submit" class="btn btn-primary btn-lg">Add Secret</button>
        </form>
    </div>

    <%- include("footer.ejs") -%>