<%- include("header.ejs") -%>
<form method="POST" action="/users/register"  class="signin-form">
        <label for="userName">Username</label>
        <input type="text" name="userName" placeholder="Choose a username"/>
        <label for="email"> Email</label>
        <input type="text" name="email" placeholder="Enter email"/>
        <label for="password"> Password</label>
        <input type="password" name="password" placeholder="Enter password"/>
          <button type="submit" class="register-btn ">
             Sign Up 
          </button>
      </form>
<%- include("footer.ejs") -%>
