<%- include("header.ejs") -%>
<div><%= data.userName %></div>
<div class="wrapper-main container">
<% //floating action button %>
<div class="main-left">
    <div class="user user-detail">
        <p><b>username</b></p>
        <p>email</p>
    <p>gender</p>
    </div>
    <div class="user user-stats">
        <p><b>Your stats</b></p>
        <ul>
            <li>state one</li>
            <li>state two</li>
            <li>state three</li>
        </ul>
    </div>
</div>
<% // Secrets wrapper %>
<div class="main-center">
    <div id="secrets-container" class="secrets-wrapper row"></div>
</div>
<% //Action hot feed wrapper %>
<div class="main-right">
    <div class="user user-detail">
        <p><b>Hottest</b></p>
        <ul>
            <li>item one</li>
            <li>item two</li>
            <li>item three</li>
            <li>item four</li>
            <li>item five</li>
            <li>item six</li>
        <ul>
    </div>
</div>
<% //floating action button %>
<div class="fixed-action-btn">
  <a class="btn-floating btn-large purple darken-4">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>

</div>
<%- include("footer.ejs") -%>
