<%- include("header.ejs") -%>

<div class="container2">
    <% secrets.forEach((secret)=> { %>
        <div class="secret-container">
            <p><%=secret.secret%></p>
            <hr class="secrethr">
            <div class="author"><%=secret.author%></div>
        </div>
    <% }) %>    
</div>
<hr>
<div class="add-secret">
    <a href="/newsecret"><button class="btn btn-dark btn-lg">Share Secret</button></a>
</div>
<%- include("footer.ejs") -%>