<%- include("header.ejs") -%>
<div><%= data.userName %></div>
<div id="secrets-container" class="secrets-container"></div>
<hr />
<div class="add-secret">
  <a href="#"><button class="btn btn-dark btn-lg">Share Secret</button></a>
</div>
<%- include("footer.ejs") -%>
