<div class="new-secret center-wrapper"> 
<form action="/api/secrets" method="POST" class="new-secret-content col s12 mobile-display-wrapper">
<h5> <i class="material-icon"><i></h5>
        <div class="row">
          <div class="input-field col s12">
            <input id="authorId" name="authorId" value="616ef23b7485805e1d48e2c7" type="text" data-length="10">
            <label for="authorId">authorId</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input  id="title" type="text" name="title" data-length="10">
            <label for="title">Title</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="body" name="body" class="materialize-textarea" data-length="120"></textarea>
            <label for="body">Body</label>
          </div>
        </div>
<button type="submit" class="button btn-medium"> Submit New Secret</button>
</form>
</div>